<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA847Y-rI2TprKxVAUrNJkrsx2bf0KEvOY</string>
	<key>GCM_SENDER_ID</key>
	<string>80482822005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yesj1234.farmersJournal</string>
	<key>PROJECT_ID</key>
	<string>farmers-journal-7f2cc</string>
	<key>STORAGE_BUCKET</key>
	<string>farmers-journal-7f2cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80482822005:ios:fb616b63ab3c76a039953c</string>
</dict>
</plist>